.center-hv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-horizontal {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.center-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* 底层背景 */
.color-bg-0 {
  background-color: rgb(210, 209, 186);
}

/* 区块背景 */
.color-bg-1 {
  background-color: rgb(240, 239, 226);
}

.el-dialog {
  .el-dialog__body {
    width: 50%;
    margin: 5% auto;
  }
}
